@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300&display=swap');

body {
    background: radial-gradient(circle, rgb(0, 102, 255) 43%, rgba(0,0,0,1) 100%);
   
   }
   
   header {
       display: flex;
       flex-direction: row;
       align-items: center;
       gap: 10%;
       size: 100%;
       
   }
   
   .logo {
   max-width: 130px;
   max-height: 130px;
   transition: 0.5s;
   }

   .logo:hover { 
   transform: scale(1.1);

   }
   
   .hrl {
    background-color: black;
    height: 2px;
   }
   
   .jogo1 { 
       
       
       color: black;
       text-decoration: none;
       font-family: 'Spline Sans', sans-serif;
       transition: 0.4s;
       font-size: 25px;
      } 
   
   .jogo2 { 
       display: flex;
       color: black;
       
       font-family: 'Spline Sans', sans-serif;
       transition: 0.4s;
       font-size: 25px;
      }
   
   .jogo3 { 
    display: flex;
    color: black;
    text-decoration: none;
    font-family: 'Spline Sans', sans-serif;
    transition: 0.4s;
    font-size: 25px;
   }
   
   .jogo1:hover { 
       text-decoration: none;
       display: flex;
       color: rgb(2, 164, 240);
       text-decoration: none;
       font-family: 'Spline Sans', sans-serif;
       transform: scale(1.2);
   } 
   .jogo2:hover { 
       display: flex;
       color: rgb(2, 164, 240);
       text-decoration: none;
       font-family: 'Spline Sans', sans-serif;
       transform: scale(1.2);
   } 
   .jogo3:hover { 
       display: flex;
       color: rgb(2, 164, 240);
       text-decoration: none;
       font-family: 'Spline Sans', sans-serif;
       transform: scale(1.2);
   } 

   .card {

    background: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
    height: 100%;
    border-radius: 1rem;
    margin: 1.5rem;
    transition: 0.3s;
    
    }
    
    .card:hover {
    
     transform: scale(1.1);
    
    }

    .esta {
   
        color: black;
        
      }
      
      .lol1 {
      
       color: black;
     
      }
      
      .bt1 {
      
      width: 50%;
      height: 70px;
      border: none;
      padding: 10px;
      background: orangered;
      color: white;
      transition: 0.3s;
      border-radius: 22px;
      font-size: 20px;
      font-family: 'Oswald', sans-serif;
      cursor: pointer;
      
      }
      
      .bt1:hover {
      
       background: orange;
       transform: scale(0.9)
      
      
      }
      
      .cards {
        
        
        font-size: 35px;
      }
      
      .imagem {
       height: 45%;
       border-radius: 10px;
      }